@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #00B4D8;
  --black: #242528;
  --faded: #CAF0F8;
  --overlay: rgba(0, 0, 0, 0.8);
  --darkblue: #03045E;
}

* {
  font-family: 'Jost', sans-serif;
}

.nobar::-webkit-scrollbar {
  width: 0px;
  height: 0;
  opacity: 0;
  cursor: pointer;
}

.nobar::-webkit-scrollbar:hover {
  opacity: 0;
  width: 0;
}

.nobar::-webkit-scrollbar-track {
  border-radius: 0px;
  width: 0;
}

.nobar::-webkit-scrollbar-thumb {
  border-radius: 0px;
  border: 0px;
  cursor: pointer;
}


@media (prefers-color-scheme: dark) {
  :root {
    
  }
}
